<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Livro - <%= book.name %> • Atenas</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/output.css">

        <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
        
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="bg-background">
        <header class="w-full h-[90vh] fixed top-0 left-0 flex justify-center items-center">
            <div class="absolute top-0 left-0 w-full h-full bg-lib brightness-75 z-[-1]"></div>

            <div>
                <a class="
                    left-7 top-5 absolute text-5xl text-white p-2 rounded-lg w-14 h-14
                    hover:bg-black/10 transition-[background] duration-300 flex justify-center items-center
                " href="/" title="Retornar à página inicial">A</a>
            </div>

            <div class="w-1/4 bg-black/50 p-4 rounded-xl text-white flex justify-start items-center flex-col">
                <img class="w-full h-full mb-4" src="/assets/books/<%= book.fileName %>.png" alt="Metafisica">

                <h1 class="font-bold text-3xl"><%= book.name %></h1>
                <h2 class="text-lg"><%= book.author %></h2>

                <div class="mt-1">
                    ★★★★★
                </div>
            </div>
        </header>

        <main class="w-full mt-[90vh] pb-6 bg-background relative z-10">
            <!-- Os melhores títulos da Grécia -->
            <div class="w-full flex justify-center items-center flex-col p-6">
                <h1 class="text-xl uppercase tracking-widest font-bold mb-6">Sobre o livro</h1>

                <div class="w-2/3 mb-4">
                    <p class="text-lg">
                        Nome:
                        <span class="font-bold"><%= book.name %></span>
                    </p>

                    <p class="text-lg">
                        Autor:
                        <span class="font-bold"><%= book.author %></span>
                    </p>

                    <p class="text-lg">
                        Assunto:
                        <span class="font-bold"><%= book.subject %></span>
                    </p>

                    <p class="text-lg">
                        Data de publicação:
                        <span class="font-bold"><%= book.publishDate %></span>
                    </p>

                    <p class="text-lg">
                        Classificação:
                        <span class="font-bold">★★★★★</span>
                    </p>

                    <p class="text-lg">
                        Número de exemplares:
                        <span class="font-bold"><%= book.quantity %></span>
                    </p>
                </div>
                
                <div class="w-2/3 bg-background-darker p-4 rounded-lg">
                    <h3 class="text-sm uppercase tracking-widest font-bold">Resumo</h3>
                    <p class="w-full mt-2">
                        <%= book.resume %>
                    </p>

                    <h3 class="text-xs uppercase tracking-widest font-bold mt-2">Fonte: <%= book.source %></h3>
                </div>

                <div class="w-2/3 mt-4 flex justify-start items-center">
                    <img class="w-6 mr-2" src="/assets/icons/link.png" alt="Link"></img>
                    <span>Livro em PDF:</span>
                    <a class="text-sky-700 hover:bg-sky-300/30 ml-1 p-1 rounded-md transition-[background] duration-300" href="/assets/pdfs/<%= book.fileName %>.pdf" target="_blank">Visualizar</a>
                </div>

                <div class="w-2/3 mt-4 flex justify-start items-center">
                    <div x-show="<%= book.quantity %> <= 00" class="
                        bg-background px-2 py-1 rounded-lg w-fit mr-2 brightness-95
                    " href>Não há exemplares para pegar emprestado</div>

                    <a x-show="<%= book.quantity %> > 0" @click="
                        (async () => {
                            try {
                                await axios.post('http://localhost:3000/api/borrow', {
                                    book: '<%= book.id %>'
                                });
                            } catch (error) {
                                console.error('Error borrowing book:', error);
                            }
                        })();
                    "
                    class="
                        bg-background-darker px-2 py-1 rounded-lg w-fit mr-2
                        hover:brightness-95 transition-[background, brightness] duration-300
                    " href>Pegar emprestado</a>

                    <a @click="
                        (async () => {
                            try {
                                await axios.post('http://localhost:3000/api/return', {
                                    book: '<%= book.id %>'
                                });
                            } catch (error) {
                                console.error('Error borrowing book:', error);
                            }
                        })();
                " class="
                        bg-background-darker px-2 py-1 rounded-lg w-fit
                        hover:brightness-95 transition-[background, brightness] duration-300
                    " href>Devolver</a>
                </div>
            </div>
        </main>

        <footer class="w-full bg-aqua p-6 relative text-center">
            <h1 class="font-bold text-2xl">Atenas</h1>
            <h3>Atenas &copy; Copyright 2024. Todos os direitos reservados.</h3>
        </footer>
    </body>
</html>